.block-divs {
    display: block;
}

label {
    float: left;
    padding-bottom: 15px;
    margin: 0;
}

.component-football-teams {
    padding-top: 15px;
    padding-bottom: 10px;
}

.form-group {
    margin-bottom: 10px;
}

.table-of-teams { 
    padding: 15px;
}

.custom-th {
    background-color: gainsboro;
    padding-left: 5px;
    padding-right: 5px;
}

.custom-tr {
    text-align: center;
    border-bottom: 2px solid lightgray;
}

td {
    padding-left: 5px;
    padding-right: 5px;
}