.table-of-temas { 
    padding: 15px;
}

.custom-th {
    background-color: gainsboro;
    padding-left: 5px;
    padding-right: 5px;
}

.custom-tr {
    text-align: center;
    border-bottom: 2px solid lightgray;
}
.float-left {
    float: left;
}

.block-element {
    display: block;
}

.inline-block-element {
    display: inline-block;
}

td {
    padding-left: 5px;
    padding-right: 5px;
}