<div class="table-of-teams">
    <span>Tablica sezone {{childSelectedSeason.yearOfSeason}}</span>
    <table class="table-of-teams col-lg-12 col-md-12 col-xs-12">
        <thead class="custom-th">
            <tr class="custom-tr">
                <th>Pozicija</th>
                <th>Naziv</th>
                <th>Mjesto</th>
                <th>Br. bodova</th>
            </tr>
        </thead>
        <tbody>
            <tr class="custom-tr" *ngFor="let item of listOfFootballTeams; let i = index">
                <td>{{i+1}}.</td>
                <td>{{item.name}}</td>
                <td>{{item.location}}</td>
                <td>{{item.numberOfPoints}}</td>
            </tr>
        </tbody>
    </table>
</div>