<div class="table-of-teams">
    <span>Prikaz svih mečeva</span>
    <table class="table-of-teams col-lg-12 col-md-12 col-xs-12">
        <thead class="custom-tr">
            <tr class="custom-tr">
                <th>#</th>
                <th>Domaći tim</th>
                <th>Gostujući tim</th>
                <th>Rezultat</th>
            </tr>
        </thead>
        <tbody>
            <tr class="custom-tr" *ngFor="let item of listOfMatches, let i = index">
                <td>{{i+1}}.</td>
                <td>{{item.homeTeam}}</td>
                <td>{{item.awayTeam}}</td>
                <td>{{item.resultOfMatch}}</td>
            </tr>
        </tbody>
    </table>
</div>
