<span>Tablica</span>
<div class="tableOfTeams">
    <table class="tableOfTeams col-lg-12 col-md-12 col-xs-12">
        <thead class="myth">
            <tr class="mytr">
                <th>#</th>
                <th>Naziv</th>
                <th>Mjesto</th>
                <th>Br. bodova</th>
            </tr>
        </thead>
        <tbody>
            <tr class="mytr" *ngFor="let list of listOfFootballTeams; let i = index">
                <td>{{i+1}}.</td>
                <td>{{list.name}}</td>
                <td>{{list.location}}</td>
                <td>{{list.numberOfPoints}}</td>
            </tr>
        </tbody>
    </table>
</div>